*{
	font-family: 'Fjord One';
}

#about{
    width: 50%;
	display:inline-block;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
	border: 3px black solid;
	box-shadow: 10px 10px 5px;
}
